<% if ( Array.isArray( value ) && value.length ) { %>
	<% _.each( value, function( img ) { %>
		<div class="image-placeholder">
			<span class="image">
				<% if ( img.sizes ) { %>
				<img
					src="<%= img.sizes.thumbnail.url %>"
					width="<%= img.sizes.thumbnail.width %>"
					height="<%= img.sizes.thumbnail.height %>"
				/>
				<% } else { %>
					<span class="spinner is-active"></span>
				<% } %>
				<button class="button button-small remove" data-image-id="<%= img.id %>"><span class="dashicons dashicons-no"></span></button>
			</span>
		</div>
	<% } ); %>
<% } else { %>
	<div class="image-placeholder">
		<button class="button button-small add">Select Image</button>
	</div>
<% } %>

<% if ( config.sizeReq ) { %>
	<p class="image-requirements">Images must be <%= config.sizeReq.width %>px &times; <%= config.sizeReq.height %>px</p>
<% } %>
