<?php

ob_start();

$args = apply_filters( 'mpb_wysiwyg_args', array(
	'textarea_name' => 'mpb-placeholder-name',
	'textarea_rows' => 3,
	'tinymce' => array(
		'resize' => false,
		'wp_autoresize_on' => true,
	)
) );

wp_editor( 'mpb-placeholder-content', 'mpb-placeholder-id', $args );

$editor = ob_get_clean();

$editor = str_replace( 'mpb-placeholder-name',    'mpb-text-body-{{ data.id }}', $editor );
$editor = str_replace( 'mpb-placeholder-id',      'mpb-text-body-{{ data.id }}', $editor );
$editor = str_replace( 'mpb-placeholder-content', '{{{ data.value }}}',            $editor );

echo $editor;

?>
