
<div class="selection-item highlight-module-edit">

	<# if ( 'heading' in data.attr ) { #>
	<div class="form-row">
		<label class="form-row-label">{{ data.attr.heading.label }}</label>
		<input type="text" data-module-attr-name="heading" class="regular-text" value="{{ attr.heading.value }}" />
	</div>
	<# } #>

	<div class="form-row">
		<label class="form-row-label">{{ data.attr.body.label }}</label>
		<div class="text-field"></div>
	</div>

	<# if ( 'style' in attr ) { #>
	<div class="form-row">
		<label class="form-row-label">{{ attr.style.label }}</label>
		<select data-module-attr-name="style">
			<# _.each( attr.style.options, function( option ) { #>
				<option
					value="{{ option.value }}>"
					<# if ( attr.style.value === option.value ) { #>selected="selected"<# } #>
				>
					{{ option.label }}
				</option>
			<# }); #>
		</select>
	</div>
	<# } #>

</div>
