<div class="selection-item highlight-module-edit">

	<div class="form-row">
		<label class="form-row-label"><%= attr.heading.label %></label>
		<input type="text" data-module-attr-name="heading" class="regular-text" value="<%= attr.heading.value %>" />
	</div>

	<div class="form-row">
		<label class="form-row-label"><%= attr.body.label %></label>
		<textarea data-module-attr-name="body" class="regular-text"><%= attr.body.value %></textarea>
	</div>

	<div class="form-row">
		<label class="form-row-label"><%= attr.image.label %></label>
		<div class="image-field"></div>
	</div>

</div>
