<div class="selection-item">

	<div class="form-row">

		<label class="form-row-label"><%= attr.text.label %></label>

		<div
			style="font-weight: bold; font-size: 48px; line-height: 1.4em; margin-bottom: 8px;"
			contenteditable="true"
			data-module-attr-name="text"
		><%= attr.text.value %></div>

	</div>

	<div class="form-row">
		<label class="form-row-label"><%= attr.source.label %></label>
		<input type="text" data-module-attr-name="source" class="regular-text" value="<%= attr.source.value %>" />
	</div>

</div>
